@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    min-width: 100%;
}

body {
    background: rgba(0, 0, 0, 0.5) url('./assets/motion_full_team.jpg') no-repeat;
    background-size: cover;
}

body, input, button {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.container {
    margin: 80px auto;
    max-width: 450px;
    width: 100%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.container h1 {
    color: #4D0000;
    font-size: 36px;
}

.content {
    width: 80%;
    opacity: 0.8;
    background: #FFFFFF;
    margin-top: 50px;
    border-radius: 4px;
    padding: 30px;
}

.content > p {
    font-size: 24px;
    margin-bottom: 30px;
}

.content button.submit-btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    background: #4D0000;
    color: #FFFFFF;
    cursor: pointer;
}

.content button.submit-btn:hover {
    background: #800000;
    opacity: 1;
}

.content button.secondary-btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 700;
    background: #3F3D3B;
    color: #FFFFFF;
    cursor: pointer;
}

.content button.secondary-btn:hover {
    background: #6A6866;
    opacity: 1;
}

.content div.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}